extends layout

block content

  h1 #{title}
          
  form(method='POST' action='')
    div.form-group
      label(for='name') Категорія:
      input#name.form-control(type='text', placeholder='Адміністративне, Сімейне тощо' name='name' required='true' value=(undefined===lpcategory ? '' : lpcategory.name) )
    button.btn.btn-primary(type='submit') Підтвердити

  if errors 
    ul
      for error in errors
        li!= error.msg