extends layout

block content

  h1 Категорія законопроектів: #{lpcategory.name}
  
  div(style='margin-left:20px;margin-top:20px')

  //- hr
  //- p
  //-   a(href=genre.url+'/delete') Delete genre
  //- p
  //-   a(href=genre.url+'/update') Update genre