extends layout

block content

  h1 Видалення Допису: #{post.name}
  
  p Do you really want to delete this Допис?
  
  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=post._id )

    button.btn.btn-primary(type='submit') Delete
